In [1]:
print("HII Everyone ")

HII Everyone

In [3]:
print("Hello World!!!")

Hello World!!!

Slash operator

In [ ]:
print("Hello \
Python !! How's your expeience")

Triple Quotes

In [6]:
print ("""Hey Everyone """)

Hey Everyone

In [8]:
print ("""
 / '.        .--.
 |   \     .'-,  |
 \    \___/    \_/
  '._.'   '._.'
    /  . .  \
    |=  Y  =|
jgs \   ^   /
     `'---'`
           """)

 / '.        .--.
 |   \     .'-,  |
 \    \___/    \_/
  '._.'   '._.'
    /  . .      |=  Y  =|
jgs \   ^   /
     `'---'`

In [9]:
print("Python's World ")

Python's World

In [11]:
print ("Hello \t Python")

Hello 	 Python

Line Seperator

In [10]:
print("Hello \n Python")

Hello
 Python

In [13]:
print('Python\'s World')

Python's World

#Formatted Output

In [20]:
name="Manprit "
marks = 90.9875
age = 20
print ("The name of person is ", name , "Marks are", marks , "Age is ", age)
print ("The name of person is %s marks is %f age is %d" % (name,marks,age))
print ("The name of person is %5s marks is %5.2f age is %5d" % (name,marks,age))
print (f"The name of person is {name} marks is {marks} age is {age}" )

The name of person is  Manprit  Marks are 90.9875 Age is  20
The name of person is Manprit  marks is 90.987500 age is 20
The name of person is Manprit  marks is 90.99 age is    20
The name of person is Manprit  marks is 90.9875 age is 20

#Assigment statement And  Variables

In [25]:
x=y=10
print(x,y)
id(x)

10 10

140723475620528

In [26]:
id(y)

140723475620528

In [29]:
x=10 
y=20
print(x,y)
id(x)

10 20

140723475620528

In [30]:
id(y)

140723475620848

# Arithmetic operators

In [34]:
print(10+20)
print(10-20)
print(10/2)
print(10/3)
print(10//3)

30
-10
5.0
3.3333333333333335
3

# Comaprision operators

In [40]:
a = 10
b = 20
a == b

False

In [36]:
c = 10 
a == c

True

In [39]:
print( c <= a )
print ( a>=b )
print ( a!=b )

True
False
True

# Bitwise Operator

In [3]:
a=240
b=1
print(a | b)
print(bin(a))
print(bin(b))
print( a & b )

241
0b11110000
0b1
0

# Logical Operators

In [8]:
a = 10
b = 20
print ( a > b or a > 9)
#10 > 9 and 20 > M
print ( 10 < 9 and 20 > M)
print (not 10 < 9 )

True
False
True

In [10]:
str1 = "pythonprogramming"
print("a" in str1)
print("x" in str1)
print ("x" not in str1)

True
False
True

# Identity Operator

In [17]:
a=10 
b=10
print (a == b)
print (a is b)

True
True

In [18]:
id (a)

140709527265968

In [19]:
id (b)

140709527265968

In [15]:
a = 257
b = 257 
a == b

True

In [16]:
a is b

False

# Precedence

In [21]:
print(2**-1)
print(2**3**2)

0.5
512